body{
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    background-image: url(hatter.jpg);
    
}
header{
    width: 100%;
    align-items: center;
    justify-content: center;
}
.container{
    max-width: 1000px;
    padding: 20px;
    margin: 0 auto;
    background-color: rgb(172, 243, 243);
}
h1,h2{
    color: blue;
}
section img{
    max-width: 200px;
      
}
.kep-tarolo div{
    box-shadow: 0 0 3px blue;
    border-radius: 5px;
}
.kep-tarolo{
    display: flex;
    flex: 1;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    color: blue;
}   
 .kep-tarolo div p{
     text-align: center;
 }  

table{
    border-collapse: collapse;
    border: 1px solid blue;
    text-align: center;
    margin: 0 auto;
       
}
td,th{
    border: 0.5px solid white;
    text-align: center;
    padding: 5px;
       
}
th{
    background-color: blue;
    color: white;
}
footer{
   text-align: right;
}
p{
 text-align: justify;
 text-indent: 1rem;
}
.felkover{
    font-weight: bold;
    color: blue;
}
